body {
    background-color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: blanchedalmond;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    text-align: center;
}

.sidenav a {
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
}

.sidenav a:hover {
    background-color: aliceblue;
}

.italic {
    font-size: medium;
    font-style: italic;
}

.extra {
    align-items: center;
    text-align: center;
    padding: 10px;
}

.content {
    padding-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.class {
    background-color: aquamarine;
}

.blank {
    background-color: bisque;
}

.head {
    background-color: aqua;
}

.time {
    text-align: center;
    background-color: antiquewhite;
}

.schedule {

}